# Android Studio / IntelliJ
*.iml
.idea/

# Gradle
.gradle/
**/build/

# Lokale Android-Konfiguration
local.properties

# Native Build-Dateien
.externalNativeBuild/
.cxx/

# Sonstige generierte Dateien
captures/
.DS_Store
